[Desktop Entry]
Type=Application
Exec=usr/bin/DailyDesktopWallpaperPlus
Hidden=false
Name=DailyDesktopWallpaperPlus
Comment=Use the daily wallpaper from bing or from Windows Spotlight on your Desktop!
Terminal=false
Icon=mainicon
Categories=KDE;Utility;
