[Desktop Entry]
Type=Application
Exec=DailyDesktopWallpaperPlus
Hidden=false
Name=DailyDesktopWallpaperPlus
Comment=Use the daily wallpaper from bing or from Windows Spotlight on your Desktop!
Terminal=false
Keywords=background;wallpaper;bing;
Icon=128.png
